<h1>房间列表</h1>

<%= link_to "新建房间", new_room_path %>

<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to room.dig("attributes", "name") || "未命名", room_path(room["id"]) %>
      (<%= room.dig("attributes", "room_type") || "未分类" %>)
    </li>
  <% end %>
</ul>
