<h1>Minechat</h1>

<h2>房间</h2>
<% if @rooms.any? %>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to room.dig("attributes", "name") || "未命名", room_path(room["id"]) %></li>
    <% end %>
  </ul>
<% else %>
  <p>暂无房间。请先连接后端服务。</p>
<% end %>

<h2>用户</h2>
<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.dig("attributes", "nickname") || user.dig("attributes", "username") || "未知" %></li>
    <% end %>
  </ul>
<% else %>
  <p>暂无用户。</p>
<% end %>
